{{>_start themeColor="#343a40"}}
<nav class="header-bar">
  <a href="/restaurants/restaurants.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <div class="header">
    <h4>Τραπέζια</h4>
    <h5>Κουτιά</h5>
  </div>
  <a href="/restaurants/tables.html" class="ml-auto mr-2 btn btn-lg btn-link text-light">
    <span class="fa fa-list"></span>
  </a>
</nav>

<div class="list-menu mb-0">
  {{#each tables}}
  <div class="sticky-top list-group-item text-white" style="background: {{color}}">
    <span class="icon text-white {{icon}}"></span>
    <h4>{{section}}</h4>
  </div>
  <div class="list-group-wrap">
    {{#each items}}
    <a href="/restaurants/table.html" class="list-group-item">
      <h4>{{name}}</h4>
      <div class="status" style="background:{{color}};">{{status}}</div>
    </a>
    {{/each}}
  </div>
  {{/each}}
</div>
{{>_end}}