{{>_start themeColor="#343a40"}}
<nav class="header-bar">
  <a href="/restaurants/restaurants.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <div class="header">
    <h4>Τραπέζια</h4>
    <h5>Λίστα</h5>
  </div>
  <a href="/restaurants/tables2.html" class="ml-auto mr-2 btn btn-lg btn-link text-light">
    <span class="fa fa-table"></span>
  </a>
</nav>
<div class="list-menu mb-0">
  {{#each tables}}
  <div class="sticky-top list-group-item text-white" style="background: {{color}}">
    <span class="icon text-white {{icon}}"></span>
    <h4>{{section}}</h4>
  </div>
  {{#each items}}
  <a href="/restaurants/table.html" class="list-group-item">
    <div>
      <h4>{{name}}</h4>
      <ul class="description list-inline m-0">
        {{#each tags}}
        <li class="list-inline-item">{{this}}</li>{{/each}}
      </ul>
    </div>
    <div class="status" style="background:{{color}};">{{status}}</div>
  </a>
  {{/each}} {{/each}}
</div>
{{>_end}}