{{>_start}}
<nav class="header-bar text-center flex-column">
  <div>
    <div class="glyph">
      <span class="glyph-icon flaticon-cooker"></span>
    </div>
  </div>
  <h2>Restaurants</h2>
  <small>balnc software</small>
</nav>

<div class="list-menu">
  {{#each menu}}
  <a href="{{link}}" class="list-group-item">
    <div class="glyph">
      <span class="glyph-icon flaticon-{{icon}}" style="color:{{color}}"></span>
    </div>
    <div>
      <h4>{{label}}</h4>
      <div class="description">{{description}}</div>
    </div>
    {{#if hasInfo}}
    <div class="status bg-dark">{{info}}</div>
    {{/if}}
  </a>
  {{/each}}
</div>
<div class="bg-white fixed-bottom p-1 text-secondary text-center border-top">
  <small> Balnc Restaurants v1.0</small>
</div>
{{>_end}}