{{>_start themeColor="#343a40"}}
<nav class="header-bar text-center flex-column">
  <h2>Templates</h2>
</nav>

<div class="list-menu">
  {{#each menu}}
  <a href="{{link}}" class="list-group-item">
    <span class="icon {{icon}}" style="color:{{color}}"></span>
    <div>
      <h4>{{label}}</h4>
      <div class="description">{{description}}</div>
    </div>
    {{#if hasInfo}}
    <div class="status" style="background:{{color}}">{{info}}</div>
    {{/if}}
  </a>
  {{/each}}
</div>
<div class="bg-white fixed-bottom p-1 text-secondary text-center border-top">
  <small>Mobile Templates v0.0 -
    <a href="https://cgeosoft.com">cgeosoft.com</a>
  </small>
</div>
{{>_end}}