{{>_start}}
<nav class="header-bar">
  <a href="tables.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <h4>Τραπέζι: {{table}}</h4>
</nav>
<div class="list-menu">
  {{#each items}}
  <div class="list-group-item">
    <div class="rounded text-center text-monospace text-white mr-2 px-2" style="background:{{color}};font-size:1rem;">
      <span class="{{status}}"></span>
    </div>
    <div>{{label}}</div>
    <span class="text-muted ml-auto">{{price}}&euro;</span>
  </div>
  {{/each}}
  <div class="list-group-item d-flex align-items-center bg-light">
    <div class="glyph">
      <span class="glyph-icon flaticon-wallet"></span>
    </div>
    <h4>Σύνολα</h4>
  </div>
  <div class="list-group-item">
    <div>Σύνολο</div>
    <h4 class="ml-auto">{{bill.total}}&euro;</h4>
  </div>
  <div class="list-group-item">
    <div>Κεράσματα</div>
    <h4 class="ml-auto">{{bill.treat}}&euro;</h4>
  </div>
  <div class="list-group-item">
    <div>Πουρμπουάρ</div>
    <h4 class="ml-auto">{{bill.tip}}&euro;</h4>
  </div>
  <div class="list-group-item">
    <div>Εισπράξεις</div>
    <h4 class="ml-auto">{{bill.receivedFinal}}&euro;</h4>
  </div>
</div>
<div class="bg-white border-top fixed-bottom p-1 d-flex">
  <a href="order-payment.html" class="w-50 m-1 btn btn-lg btn-outline-secondary">
    <span class="fa fa-credit-card"></span> Πληρωμή</a>
  <a href="order-new.html" class="w-50 m-1 btn btn-lg btn-success">
    <span class="fa fa-plus-circle"></span> Παραγγελία</a>
</div>
{{>_end}}